<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nowcoder.community.dao.DiscussPostDao">
    <select id="selectDiscuss" resultType="DiscussPost">
        select * from discuss_post
        <if test="userId!=0">where user_id = #{userId}</if>
        order by type desc,create_time desc
        limit #{offset},10
    </select>

    <select id="selectRows" resultType="int">
        select count(*) from discuss_post;
    </select>
</mapper>